<div class="about">
  <app-info-section 
  icon="bi bi-person-bounding-box icon" 
  title="¿QUIÉN SOY?" 
  content="<p>Hola, mi nombre es <span>Abigail Samanta Elis</span>, soy una apasionada a todo lo relacionado con el desarrollo web</p>
  <p> Actualmente estoy finalizando mis estudios en la sede de Quequén de la Universidad Nacional del Centro de la Provincia de Buenos Aires de Tandil, 
    cursando la <span>Tecnicatura Universitaria de Desarrollo de Aplicaciones Informáticas</span></p>">
</app-info-section>

<app-info-section 
  icon="bi bi-code-square icon" 
  title="MI APRENDIZAJE" 
  content="<ul>
             <li><i class='bi bi-braces'></i> Programación básica - Asociación Gremial de Computación (AGC)</li>
             <li><i class='bi bi-braces'></i> Argentina programa - 1° Parte</li>
             <li><i class='bi bi-braces'></i> Tecnicatura Universitaria de Desarrollo de Aplicaciones Informáticas - 3° año</li>
           </ul>">
</app-info-section>

<app-info-section 
  icon="bi bi-person-arms-up icon" 
  title="SOFT SKILLS" 
  content="<ul>
             <li><i class='bi bi-suit-heart'></i> Trabajo en equipo: Colaboro eficazmente para alcanzar objetivos comunes.</li>
             <li><i class='bi bi-suit-heart'></i> Adaptabilidad: Me ajusto rápidamente a nuevos desafíos y tecnologías.</li>
             <li><i class='bi bi-suit-heart'></i> Colaboración: Fomento un ambiente de trabajo armonioso y comunicativo.</li>
             <li><i class='bi bi-suit-heart'></i> Resolución de conflictos: Manejo desacuerdos de manera constructiva.</li>
             <li><i class='bi bi-suit-heart'></i> Creatividad: Encuentro soluciones innovadoras a problemas complejos.</li>
           </ul>">
</app-info-section>


</div>