<div class="about">
    <section>
        <span>¿Qúién soy?</span>
        <p>Hola, mi nombre es Abigail Samanta Elis, soy una apasionada a todo lo
            relacionado con el mundo
            IT. Desde hace unos años he ido aprendiendo de manera autodidacta diseño web,
            seguridad informática y desarrollo de aplicaciones web.
            Actualmente estoy finalizando mis estudios en la sede de Quequén de la Universidad Nacional del Centro de la Provincia de Buenos Aires de Tandil, cursando la carrera de TUDAI.</p>
        </section>

    <section>
        <span>Mi aprendizaje</span>
        <ul>
            <li><i class="bi bi-braces"> </i> Programación básica - Asociación Gremial de Computación (AGC)</li>
            <li><i class="bi bi-braces"> </i> Argentina programa - 1° Parte</li>
            <li><i class="bi bi-braces"> </i> Tecnicatura Universitaria de Desarrollo de Aplicaciones Informáticas - 3° año</li>
        </ul>
    </section>

    <section>
        <span>Soft Skills</span>
        <ul>
            <li><i class="bi bi-heart"></i> Trabajo en equipo: Colaboro eficazmente para alcanzar objetivos comunes.</li>
            <li><i class="bi bi-heart"></i> Adaptabilidad: Me ajusto rápidamente a nuevos desafíos y tecnologías.</li>
            <li><i class="bi bi-heart"></i> Colaboración: Fomento un ambiente de trabajo armonioso y comunicativo.</li>
            <li><i class="bi bi-heart"></i> Resolución de conflictos: Manejo desacuerdos de manera constructiva.</li>
            <li><i class="bi bi-heart"></i> Creatividad: Encuentro soluciones innovadoras a problemas complejos.</li>
        </ul>
    </section>
</div>