nav {
    height: 100px;
    width: 100%;
}

.container-fluid {
    padding: 1.5rem;
}

.container {
    padding-top: 1rem;
}
ul li{
    padding: 0 10px 0 10px;
}
a.title {
    background: #00B7E9;
    background: linear-gradient(to right, #00B7E9 0%, #BE05CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: bolder;
}

a.nav-link{
    font-size:large;
}
.oculto{
    display: flex;
}

@media screen and (max-width: 650px) {
    nav {
        height: 2%;
    }
    .oculto{
        display:none;
    }

    #menu{
        flex-direction: column;
        position:absolute;
        z-index: 1;
        background-color: currentColor;
        padding: 1em;
        right: 0;

    }

    .container-fluid {
        padding: 2%;
        margin:0;
    }

    a.nav-link{
        font-size: 1.5em;
        padding: .09rem;
    }

    .navbar-toggler{
        padding: .5em;
        border: none;
        transition: none;
    }

}