.navbar {
    align-items: center;
    padding: 1.5rem 2rem;
}

/* Line style on hover */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--shadow) 0%, var(--font-second-color) 100%);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link {
    position: relative;
    margin: 0 .5rem;
}

li {
    font-size: 1.2rem;
}

@media (max-width: 991px) {
    .navbar {
        align-items: flex-start;
        padding: .5rem;
    }

    .navbar-nav {
        padding: 1rem 0;
    }
}