<div class="social-links-container">

  <h2 class="text-center">CONTÁCTAME</h2>

  <div class="social-links">
    <!-- Github -->
    <div class="contact-box">
      <a href="https://github.com/abigailelis" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <P>GitHub</P>
    </div>

    <!-- Linkedin -->
    <div class="contact-box">
      <a href="https://www.linkedin.com/in/abigail-elis/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <p>LinkedIn</p>
    </div>

    <!-- Whatsapp -->
    <div class="contact-box">
      <a href="https://wa.me/5492262366099" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <p>WhatsApp</p>
    </div>

    <!-- Gmail -->
    <div class="contact-box">
      <a href="mailto:abbigail.elis@gmail.com" target="_blank">
        <i class="far fa-envelope"></i>
      </a>
      <p>Gmail</p>
    </div>
  </div>

</div>