<div class="social-links">

  <!-- Github -->
  <a href="https://github.com/abigailelis" target="_blank">
    <i class="fab fa-github"></i>
  </a>

  <!-- Linkedin -->
  <a href="https://www.linkedin.com/in/abigail-elis/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

  <!-- Whatsapp -->
  <a href="https://wa.me/5492262366099" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>

  <!-- Gmail -->
  <a href="mailto:abbigail.elis@gmail.com" target="_blank">
    <i class="far fa-envelope"></i>
  </a>
</div>