:host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
}

p {
    margin: 0;
    color: var(--gray-400);
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    box-sizing: inherit;
    position: relative;
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding: 2rem 1rem;
    }

}