.home {
    padding: 3rem;
    max-width: 80rem;
}

.section-img {
    width: 30rem;
}

img {
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    object-fit: cover;
    box-shadow: 2px 2px 5px var(--shadow);
}

.section-info {
    width: 40rem;
    margin: 0 5rem;
}

.info {
    align-items: start;
    margin: 1.5rem 0 0 0;
    gap: 2rem;
}

@media (max-width: 991px) {
    .home {
        flex-direction: column;
        padding: 2rem .2rem;
        gap: 2rem;
    }

    .section-img {
        width: 10rem;
    }

    img {
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
    }

    .section-info {
        width: 20rem;
        margin: 0;
    }

    .info {
        align-items: center;
    }

    h1 {
        text-align: center;
    }
}