<div class="home d-flex justify-content-between align-items-center">
    <div class="section-img d-flex justify-content-center">
        <img src="/assets/perfil.jpeg" class="img-fluid" alt="foto de perfil" />
    </div>
    <div class="section-info">
        <h1>¡Hola, soy <span>Abigail Elis</span>!</h1>
        <section class="info d-flex flex-column">
            <h2>Desarrolladora Web Full Stack</h2>
            <p class="text-justify">Soy estudiante del último año en la carrera de 
                <span>Desarrollo de Aplicaciones Informáticas</span>
                en la Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN).</p>
           
            <!--Botón de descarga de CV-->
            <app-button-cv></app-button-cv>
        </section>
    </div>
</div>