<div class="home">
    <div class="col-8">
        <h1>¡Hola, soy <span>Abigail Elis</span>!</h1>
        <section class="info">
            <h2>Desarrolladora Full Stack</h2>
            <p class="text-justify">Soy estudiante del último año en la carrera de <span>Desarrollo de Aplicaciones Informáticas</span>
                en la
                Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN).</p>
                <a href="/assets/Abigail-Elis-CV.pdf" id="btn-download" target="_blank" download="Abigail-Elis-CV.pdf" class="btn btn-tag btn-dark">Descargar CV</a>
        </section>
    </div>
    <div class="col-3">
        <div class="box">
            <img src="/assets/perfil.jpeg" class="img-fluid" alt="foto de perfil"/>
        </div>
    </div>
</div>