<div *ngFor="let project of projects" class="card-project d-flex flex-column align-items-center justify-content-center">
    <img [src]="project.img" class="img-top" [alt]="project.name">

    <div class="card-body-project d-flex align-items-center justify-content-between">
        <div>
            <h5 class="card-title-project">{{project.name}}</h5>
        </div>

        <div class="buttons-group d-flex align-items-center justify-content-between">
            <div class="btn-box" type="button">
                <a [href]="project.link" target="_blank" class="btn btn-tag">
                    <i class="bi bi-box-arrow-up-right"></i>
                    Ver ejemplo
                </a>
            </div>
            <div class="btn-box" type="button">
                <a [href]="project.github" target="_blank" class="btn btn-tag">
                    <i class="bi bi-github"></i>
                    Ver codigo
                </a>
            </div>
        </div>
    </div>
</div>