.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: calc(100vw - 17px);
    padding: 1rem 4rem;
}

@media (max-width: 991px){
    .skills-container {
        width: 100vw;
        padding: 1rem;
    }
}
