.container{
    min-width: 80vw;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

i:hover {
    transition: fill 0.3s ease;
    background: #00B7E9;
    background: linear-gradient(to right, #00B7E9 0%, #BE05CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i {
    font-size: 55px;
}


h2{
    font-weight: bold;
    font-size: 50px;
    background: #00B7E9;
    background: linear-gradient(to right, #00B7E9 0%, #BE05CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}