<div class="container">
    <div class="skills-box">
        <h2>Front End</h2>
        <div class="skills">
            <div *ngFor="let skill of skillsFront" class="d-flex flex-column align-items-center m-2">
                <i class={{skill.class}}></i>
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
    <div class="skills-box">
        <h2>Back End</h2>
        <div class="skills">
            <div *ngFor="let skill of skillsBack" class="d-flex flex-column align-items-center m-2">
                <i class={{skill.class}}></i>
                <p>{{skill.name}}</p>
            </div>
        </div>

    </div>
    <div class="skills-box">
        <h2>Herramientas</h2>
        <div class="skills">
            <div *ngFor="let skill of skills" class="d-flex flex-column align-items-center m-2">
                <i class={{skill.class}}></i>
                <p>{{skill.name}}</p>
            </div>
        </div>
    </div>
</div>
