.skills-box, .skills, .skill {
    min-height: 100%;
    width: 100%;
}

.skills-box {
    gap: 4rem;
}

h2 {
    text-shadow: 1px 1px 2px var(--shadow);
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: .8rem;
    margin-bottom: 2.5rem;
}

p {
    letter-spacing: .2rem;
}

i {
    cursor: pointer;
}

@media (max-width: 991px) {
    .skills-box {
        gap: 1rem;
    }

    .skills {
        flex-wrap: wrap;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: .5rem;
    }

    i {
        font-size: 3rem;
    }

}