.skills-box , .skills, .skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.skills-box, .skill{
    flex-direction: column;
    padding: 2rem;
}


h2{
    color:#525252;
    text-shadow: 2px 2px 5px #9d9d9d;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: .8rem;
    margin-bottom: 2.5rem;
}

p{
    letter-spacing: .2rem;
}

i {
    color:#525252;
    font-size: 6rem;
    text-shadow: 2px 2px 5px #9d9d9d;
    cursor: pointer;
}

i:hover {
    text-shadow: none;
    background: #bec808b3;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 991px){
    i {
        font-size: 2rem;
    }

    h2{
        font-size: 2rem;
        letter-spacing: .5rem;
    }

    .skills{
        flex-wrap: wrap;
    }

    .skill{
        padding: 0;
    }

    .skills-box{
        min-height: 100vh;
        justify-content: center;
        padding: 0;
    }

}